<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oncollaboration</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/oncollaboration.css">
    <link rel="icon" href="/assets/x-icon.png" type="image/x-icon">
    <script src="/main.js" defer></script>
</head>

<nav>
    <a href="/">
        <img src="/assets/AVL-Logo-white.svg" alt="Antoni van Leeuwenhoek">
    </a>
    <div class="menu-toggle" onclick="toggleMenu()">
        <img src="/assets/menu.png" alt="Menu">
    </div>
    <div class="nav-links" id="nav-links">
        <a href="#">Home</a>
        <a href="#">Webinars</a>
        <a href="#">Contouring</a>
        <a href="#">Profile</a>
    </div>
</nav>

<body>