nav {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.filter-select-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.webinars-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.webinar-item {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: yellow;
}